<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Netwatcher Mockup">
        <meta name="author" content="agmangas@gmail.com">
        <title>Netwatch Mockup</title>

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="{{ "css/bootstrap.min.css"|asseturl }}" rel="stylesheet">
        <link href="{{ "css/bootstrap.flatly.min.css"|asseturl }}" rel="stylesheet">
        <link href="{{ "css/custom.css"|asseturl }}" rel="stylesheet">
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        <div class="container add-top-margin-large">
            {% block body %}{% endblock %}
            <footer>
                <p class="pull-left">Netwatch Mockup 2014</p>
            </footer>
        </div>

        <script type="text/javascript">

            var TEST_DATA_URL = '{{ "json/test.drop.calls.json"|asseturl }}';

        </script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-48322621-1']);
            _gaq.push(['_setDomainName', 'ec2-54-195-49-76.eu-west-1.compute.amazonaws.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="{{ 'js/bootstrap.min.js'|asseturl }}"></script>
        <script type="text/javascript" src="{{ 'js/sprintf.min.js'|asseturl }}"></script>
        {% block javascripts %}{% endblock %}
  </body>
</html>