{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Cuadro de mando <small>Evaluación de rendimiento</small></h1>
    </div>

    <div class="well well-lg">
        Quedaría a disposición del cliente definir los KPIs susceptibles de ser presentados en
        el cuadro de mando, así como las diferentes secciones incluidas dentro de él.
    </div>

{% endblock %}