{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Smart Analysis <small>Detección proactiva de incidencias</small></h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog"></i> &nbsp; Opciones</div>
                <div class="panel-body">
                    <button class="btn btn-default btn-block"><i class="fa fa-search"></i> &nbsp; Buscar incidencias</button>
                    <p class="add-top-margin-small">Zona de búsqueda</p>
                    <div id="options-map" class="img-thumbnail"></div>
                    <p class="add-top-margin-small">Desde</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="options-from" class="form-control" type="text" disabled="disabled" value="2014-02-20 00:00:00">
                    </div>
                    <p class="add-top-margin-small">Hasta</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="options-to" class="form-control" type="text" disabled="disabled" value="2014-02-20 23:59:00">
                    </div>
                    <p class="add-top-margin-small">Ordenar por</p>
                    <select class="form-control" disabled="disabled">
                        <option value="HIGHPRIO">Más prioriatrias primero</option>
                        <option value="LOWPRIO">Más leves primero</option>
                        <option value="DTIME">Más recientes primero</option>
                        <option value="DTIME">Más antiguas primero</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="smart-result">
                <div id="smart-result-top-row">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="well well-sm">
                                <span>Se han encontrado <span class="badge">7</span> incidencias</span>
                            </div>
                        </div>
                        <div class="col-md-6 text-right add-bottom-margin-small-on-collapse">
                            <ul class="pagination remove-top-bottom-margin">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="disabled"><a href="#">...</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="smart-result-content">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8 text-left">
                                    <i class="fa fa-exclamation-triangle"></i> &nbsp;
                                    <em>Drop Calls Poor Coverage</em> en &nbsp; <code>MAD001</code>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <a href="{{ path('engineering_graphs') }}?element=MAD001&metric=drop_calls_poor_coverage" class="btn btn-xs btn-default">Ver gráfico</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">  
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="lead text-muted">
                                        Gráfico asociado
                                    </p>
                                    <div id="smart-result-graph-01">Gráfico</div>
                                </div>
                                <div class="col-md-6">
                                    <p class="lead text-muted">
                                        Descripción
                                    </p>
                                    <p>
                                        La incidencia sucedió cerca de las 13:00 del 20 de Febrero de 2014
                                    </p>
                                    <p>
                                        Entorno RF reportado por el UE muy bajo previamente a la caída
                                    </p>
                                    <p>
                                        <span class="text-muted">Best server</span> &nbsp;
                                        <span class="text-info">RSCP</span> -123 dBm &nbsp;
                                        <span class="text-info">Ec/No</span> -32 dB
                                    </p>
                                    <p>
                                        El último mensaje enviado es <em class="text-info">UL Active Set Complete</em>
                                    </p>
                                    <p>
                                        Después de esto el UE pasa a <em class="text-info">Idle</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr><th colspan="2">Datos técnicos de incidencia</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="active">Código de celda</td>
                                    <td><code>MAD001</code></td>
                                </tr>
                                <tr>
                                    <td class="active">Nombre de celda</td>
                                    <td><code>TF_MAD_PuertaSol</code></td>
                                </tr>
                                <tr>
                                    <td class="active">CID</td>
                                    <td>59125</td>
                                </tr>
                                <tr>
                                    <td class="active">LAC</td>
                                    <td>65102</td>
                                </tr>
                                <tr>
                                    <td class="active">RNC</td>
                                    <td>675</td>
                                </tr>
                                <tr>
                                    <td class="active">PSC</td>
                                    <td>48</td>
                                </tr>
                                <tr>
                                    <td class="active">Tecnología</td>
                                    <td><span class="label label-info">3G</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script type="text/javascript" src="{{ "js/engineering.smart.js"|asseturl }}"></script>

{% endblock %}