{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ "css/bootstrap-select.min.css"|asseturl }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Gráficos <small>Visualización de métricas</small></h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-wrench"></i> &nbsp; Constructor de gráficos</div>
                <div class="panel-body">
                    <button id="new-graph" class="btn btn-default btn-block"><i class="fa fa-plus-circle"></i> &nbsp; Crear nuevo gráfico</button>
                    <p class="add-top-margin-small">Celda seleccionada</p>
                    <select id="element-selectpicker" data-live-search="true">
                        <option class="element-option" data-element="MAD001" value="MAD001"><code>MAD001</code></option>
                        <option class="element-option" data-element="MAD002" value="MAD002" disabled="disabled"><code>MAD002</code></option>
                        <option class="element-option" data-element="MAD003" value="MAD003" disabled="disabled"><code>MAD003</code></option>
                    </select>
                    <p class="add-top-margin-small">
                        KPIs &nbsp; <span class="text-muted">Arrástralos a un gráfico &nbsp; <i class="fa fa-arrow-right"></i></span>
                    </p>
                    <div class="list-group remove-bottom-margin draggable-metrics">
                        <a class="list-group-item kpi-option" data-metric="num_calls"><code>Num Calls</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls"><code>Drop Calls</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls_percent"><code>Drop Calls %</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls_poor_coverage"><code>Drop Calls Poor Coverage</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls_missing_neighbor"><code>Drop Calls Missing Neighbor</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls_bad_radio"><code>Drop Calls Bad Radio</code></a>
                        <a class="list-group-item kpi-option" data-metric="drop_calls_congestion"><code>Drop Calls Congestion</code></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="graphs-result">
                <div id="graphs-help" class="well well-lg">
                    <p class="lead"><i class="fa fa-bar-chart-o"></i> &nbsp; Construcción de gráficos de métricas</p>
                    <p>En esta sección puedes crear gráficos personalizados para las métricas.</p>
                    <p class="remove-bottom-margin">
                        Crea un nuevo gráfico haciendo click en el botón y arrastra métricas hasta él para visualizarlas. 
                        Puedes agregar varias métricas al mismo gráfico y crear múltiples gráficos simultáneamente.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ "js/bootstrap-select.min.js"|asseturl }}"></script>
    <script type="text/javascript" src="{{ "js/engineering.graphs.js"|asseturl }}"></script>

{% endblock %}