{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron add-top-margin-large text-justify">
                <div class="container">
                    <h1>Bienvenid@ a Netwatch</h1>
                    <p class="add-top-margin-medium">
                        Esta página es un boceto básico de interfaz con alguna funcionalidad mínima para Netwatch. 
                        El objetivo es transmitir una idea del funcionamiento y utilidad de la aplicación a grandes rasgos.
                    </p>
                    <p>
                        Netwatch es un sistema de análisis inteligente de volúmenes masivos de trazas 
                        y logs de red móvil para detección proactiva de incidencias y fidelización del cliente.
                    </p>    
                </div>
            </div>
        </div>
    </div>

{% endblock %}