{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ "css/bootstrap-select.min.css"|asseturl }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Marketing <small>Generación de informes para fidelización</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-11">
            <form class="form-horizontal marketing-form" role="form" action="{{ path('marketing_generate') }}" method="POST">
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Tipo de incidencia</p>
                        <p class="text-muted">Principales causas de insatisfacción en clientes</p>
                        <select id="incidence-selectpicker" data-live-search="true">
                            <option value="DROPCALLS">Llamadas caídas</option>
                            <option value="LOWAUDIO">Mala calidad de audio</option>
                            <option value="LOWSPEED">Baja velocidad de datos</option>
                            <option value="BLOCKCALLS">Llamadas bloqueadas</option>
                            <option value="POORCOV">Baja cobertura</option>
                        </select>
                    </div>
                </div>
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-users"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Usuarios analizados</p>
                        <p class="text-muted">Percentil de usuarios incluidos en función de su carga</p>
                        <div class="input-group">
                            <input type="text" id="users-percentile" class="form-control" placeholder="90">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-signal"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Tecnologías</p>
                        <p class="text-muted">Tipo de red y tecnología</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="network-options" class="tech-option" id="tech-option-2g"> 2G
                            </label>
                            <label class="btn btn-primary active">
                                <input type="radio" name="network-options" class="tech-option" id="tech-option-3g"> 3G
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="network-options" class="tech-option" id="tech-option-4g"> 4G
                            </label>
                        </div>
                        <div class="sub-tech-list" data-tech-option="tech-option-2g" style="display: none;">
                            <div class="dropdown">
                                <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
                                    Tecnologías 2G <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> GPRS
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> EDGE
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub-tech-list" data-tech-option="tech-option-3g">
                            <div class="dropdown">
                                <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
                                    Tecnologías 3G <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> UMTS
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> HSDPA
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> HSUPA
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> HSPA
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> HSPA+
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub-tech-list" data-tech-option="tech-option-4g" style="display: none;">
                            <div class="dropdown">
                                <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
                                    Tecnologías 4G <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" checked="checked"> LTE
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-sort-amount-asc"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Ajustes</p>
                        <p class="text-muted">Número máximo de resultados y orden de presentación</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">Resultados</span>
                                    <input type="text" id="limit-option" class="form-control" placeholder="1000">
                                </div>
                            </div>
                            <div class="col-md-7 add-top-margin-small-on-collapse">
                                <select id="order-selectpicker" data-live-search="true">
                                    <option value="ALLNET">Orden por gravedad</option>
                                    <option value="LAC">Orden por reiteración en el tiempo</option>
                                    <option value="RNC">Orden por ocurrencia</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-globe"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Zona</p>
                        <p class="text-muted">Localización geográfica</p>
                        <div class="row">
                            <div class="col-md-5">
                                <select id="location-selectpicker" data-live-search="true">
                                    <option value="ALLNET" disabled="disabled">Toda la red</option>
                                    <option value="LAC" disabled="disabled">LAC</option>
                                    <option value="RNC" disabled="disabled">RNC / eRNC</option>
                                    <option value="COUNTY" disabled="disabled">Provincia</option>
                                    <option value="MAP">Seleccionar en mapa</option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <div class="location-option-control add-top-margin-small-on-collapse" data-option="MAP">
                                    <div class="well well-sm remove-bottom-margin">
                                        <div id="location-map-canvas"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group add-bottom-margin-medium">
                    <div class="col-xs-3 col-sm-2 control-label">
                        <i class="marketing-form-label-icon fa fa-cloud-download"></i>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-8">
                        <p class="lead add-bottom-margin-small">Descargar</p>
                        <p class="text-muted">Descargar el informe en el formato seleccionado</p>
                        <div class="btn-group">
                            <button type="submit" name="down-format" value="csv" class="btn btn-default download-button" id="download-csv">
                                <i class="fa fa-arrow-circle-down"></i> &nbsp; CSV
                            </button>
                            <button type="submit" name="down-format" value="xml" class="btn btn-default download-button" id="download-xml">
                                <i class="fa fa-arrow-circle-down"></i> &nbsp; XML
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script type="text/javascript" src="{{ "js/bootstrap-select.min.js"|asseturl }}"></script>
    <script type="text/javascript" src="{{ "js/marketing.js"|asseturl }}"></script>

{% endblock %}