<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Expandir Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('index') }}">Netwatch</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if menu == "marketing" %} class="active" {% endif %}>
                    <a href="{{ path('marketing') }}">Marketing</a>
                </li>
                <li class="dropdown {% if menu == "engineering" %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingeniería <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('engineering_smart') }}">Smart Analysis</a></li>
                            <li><a href="{{ path('engineering_graphs') }}">Gráficos</a></li>
                        </ul>
                    </a>
                </li>
                <li {% if menu == "command" %} class="active" {% endif %}>
                    <a href="{{ path('command') }}">Cuadro de Mando</a>
                </li>
            </ul>
            <p class="navbar-text">
                <span class="label label-danger">
                    Boceto con funcionalidad limitada
                </span>
            </p>
        </div>
    </div>
</div>