.add-top-padding-large {
    padding-top: 60px;
}

.add-top-padding-small {
    padding-top: 12px;
}

.add-top-margin-large {
    margin-top: 60px;
}

.add-top-margin-medium {
    margin-top: 30px;
}

.add-top-margin-small {
    margin-top: 12px;
}

.add-left-margin-small {
    margin-left: 12px;
}

.add-bottom-margin-small {
    margin-bottom: 12px
}

.add-bottom-margin-medium {
    margin-bottom: 30px
}

.remove-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.big-font-size {
    font-size: 1.1em;
}

.text-justify {
    text-align: justify;
}

footer {
    border-top: 1px solid #DDDDDD;
    margin: 20px 0 50px 0;
    padding-top: 20px;
}

.bootstrap-select {
    width: 100% !important;
}

.graphs-graph {
    width: 100%;
    height: 320px;
}

.graph-close:hover {
    color: darkslateblue;
    cursor: pointer;
}

#options-map {
    width: 100%;
    height: 200px;
}

#smart-result-graph-01 {
    width: 100%;
    height: 200px;
}

.draggable-metrics a {
    cursor: pointer !important;
    z-index: 1;
}

.light-draggable-panel {
    opacity: 0.6
}

@media (max-width: 992px) {
    .add-bottom-margin-small-on-collapse {
        margin-bottom: 12px;
    }

    .add-top-margin-small-on-collapse {
        margin-top: 12px;
    }
}

.marketing-form .marketing-form-label-icon {
    font-size: 5em;
    color: lightgray;
}

.marketing-form .control-label {
    padding: 2% 2% 2% 3%;
}

.sub-tech-list {
    margin: 0 0 0 18px;
    display: inline;
}

.sub-tech-list .dropdown {
    display: inline;
}

@media (max-width: 992px) {
    .sub-tech-list {
        margin: 18px 0 0 0;
        display: block;
    }

    .sub-tech-list .dropdown {
        display: block;
    }
}

ul.dropdown-menu-form {
    padding: 0px 10px 10px 10px;
}

#location-map-canvas{
    width: 100%;
    height: 160px;
}